@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {font-family: 'Courgette', cursive;
    margin: 0%;
    width: 100%;
}
.topContent {
    grid-area: topContent;
    background-image: url('skillsBackground.jpg');
    background-attachment: fixed;
    
}
.main {
    grid-area: main;
}
.content {
    grid-area: content;
    background-image: url('backgrounds.jpg');
    width: 100%;

}
.bottom {
    grid-area: bottom;
}

.container {
    font-size: 1.5em;
    height: 1300px;
    display: grid;
    grid-template-areas:
    "topContent"
    "main" 
    "content"
    "bottom"
    "footer";
    grid-template-columns: auto ;
    grid-template-rows:200px, 500px, 200px, 250px, 130px;
    
}

nav ul {list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    font-size: 30px ;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: rgb(108, 68, 160);
    text-align: center;
    padding: 10px;
    text-decoration: none;

}
nav li a:hover {
    background-color: white;
   
    

}
.main {
    margin: 0;
    text-align: center;
}
.main img {
    width: 250px;
    align-content: center;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(165, 132, 184);
    font-family:  cursive;
    padding-top: 4em;
    padding-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 ;
}
h1{   animation: animated-text 4s steps(15,end) 1s 1 normal both;
}
@keyframes animated-text{
    from{width: 0;}
    to{width: 100%;}
}
h2 {
    font-size: 50px;
    font-weight: 800;
    color: black;
    font-family: 'Courier New';
    padding-top: 2em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}
h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: white;
    font-family:  cursive;
    padding-top: 0;
    padding-bottom: 4em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 ;
}

.main p {
    font-weight: 300;
    line-height: 1.5em;
    color: black;

}
.content p {
    font-weight: 40%;
    text-align: center;
    color: purple;

}
.content img {
    width: 200px;
    align-content: center;
    padding-left: 9em ;
    padding-top: 2em;
}
.bottom {
    text-align: center;
}



.footer {
   text-align: center;
    background-color: rgb(221, 221, 221);
    width:100%;
    font-size: 20px ;
    
    
}
.button {
    color: white;
    font-size: 20px;
    display: inline-block;
    background-color: grey;
    cursor: pointer;

}
.fa{
    padding-top: 1em;
    padding: 10px;
    font-size: 5px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    color: white;
background: grey;
}
.fa-instagram {
    color: white;
    background: grey;
}
.fa-linkedin {
    color: white;
    background: grey;
}
.fa-github {
    color: white;
    background: grey;
}

@media (min-width: 1040px) {.container
  {  grid-template-areas: 
    "topContent"
     "main"
    "content"
    "bottom"
    "footer";
    grid-template-columns: 100% ;
    grid-template-rows: 1fr ;

   }

.footer {
    grid-column-start: 1;
    grid-column-end: 3;
    align-content: center;
}

.main {
    max-width: 100%;
    text-align: center;
    margin: 0;
   
    
}
.main img {
    width: 250px;
    
}
 h1 {
    font-weight: 500;
    font-size: 3em;
    padding-top: 2em;
    font-size: 60px;
    text-align: center;
}
h2 {
    font-weight: 600;
    font-size: 3em;
    padding-top: 2em;
}
 .main p {
    width: 100%;
}



.fa {
    display: inline;
    justify-content: center;
   
}



}
